<div [hidden]="errMess">
  <div class="container"
       fxLayout="row wrap"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.gt-md="space-around center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span>PREV
          </button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span>NEXT
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-list>
        <h3 matSubheader>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comments">
          <div>
            <p matLine>{{comment.comment}}</p>
            <p matLine>{{comment.rating}} Stars</p>
            <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="newCommentForm.status == 'VALID'">
          <div>
            <p matLine>{{newCommentForm.value.comment}}</p>
            <p matLine>{{newCommentForm.value.rating}} Stars</p>
            <p matLine>-- {{newCommentForm.value.author}}</p>
          </div>
        </mat-list-item>

      </mat-list>

      <div>
        <p>{{ newCommentForm.value | json }} {{ newCommentForm.status | json }}</p>

        <mat-list>
          <form novalidate [formGroup]="newCommentForm" #cform="ngForm" (ngSubmit)="onSubmit()">

            <mat-list-item style="margin-bottom: 20px; ">
              <mat-form-field class="">
                <input matInput formControlName="author" placeholder="Name" type="text" style="width:370px" required>
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
              </mat-form-field>
            </mat-list-item>

            <mat-list-item style="margin-bottom: 20px">
              Rating:
              <mat-slider formControlName="rating" placeholder="Rating"
                          max="5"
                          min="1"
                          step="1"
                          thumbLabel="true"
                          tickInterval="1"
                          vertical="false">
              </mat-slider>
            </mat-list-item>

            <mat-list-item style="margin-bottom: 50px; width: 400px !important;">
              <mat-form-field class="">
              <textarea matInput formControlName="comment" placeholder="Your Comment" type="text" required rows="4"
                        cols="50"></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item style="margin-bottom: 20px; width: 400px !important;">
              <button mat-button class="background-primary text-floral-white" [disabled]="newCommentForm.invalid">
                Submit
              </button>
            </mat-list-item>

          </form>
        </mat-list>
      </div>
    </div>
    <div [hidden]="dish">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>

  </div>
</div>
<div fxFlex *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
